* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 200px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 70%;
    height: 50%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }
  .index h1 p{
    font-size: 12px;
    padding: 40px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }
  .index{
    font-size: 12px;
    padding: 40px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }